@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        color:#fff;
        background-color: #000;
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-cyan-600
    }
    .tags {
        background-color:rgb(20, 19, 19);
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding:3px 10px;
        display: inline-block;
        color: darkcyan;
        font-size: 12px;
        font-weight: 600;
    }

    .tags:last-child {
        margin-right: 0;
        
    }

}